extends layout
block content
    .header
        h1 Upskill your German
        p.
            Vocabulary, grammar, genders, tenses - and more.
            Learning a language is no easy feat, and
            German is definitely no exception. Use our free
            tools to help drill in those pesky genders,
            remember those elusive nouns, and commit to memory
            the most common verbs.
    .option-links
        h2 Quizzes
        a(id='noun-button' class='button-1' href='/noun-gender') Noun genders
        a(id='translation-button' class='button-2') Noun translations
        a(id='verb-button' class='button-3') Verbs
