extends layout
block content
    .header
        h1 Noun translation quiz
        p.
            Struggling to remember translations? This quiz will test your
            knowledge of the 2000 most common German nouns. Choose either #[strong English -> German]
            or #[strong German -> English] mode, and type the translation in.
            #[br] #[br]
        h2 Select mode:
        form(action="/noun-translation" method='POST')
            select(name='mode' id='noun-translation-mode')
                option(value='') -- Please choose a mode --
                option(value='german-to-english') German to English
                option(value='english-to-german') English to German
            input(type='submit' value='Submit')
        p #[hr]
    .quiz-area
        form(id='noun-translation-form' action='/noun-translation' method='POST' autocomplete='off')
            h2(id='random-noun') #{noun}
            input(name='userinput' data-lpignore="true" autofocus='autofocus')
            input(type='hidden' name='currentnoun' value='' id='currentnoun')
            input(type='hidden' name='translation' value='' id='translation')
            input(type='submit' value='Submit')
    .answer-popup
        h2(id='answer-popup-text') #{answer}