extends layout
block content
    .header
        h1 Noun gender quiz
        p.
            Noun genders in German are critical for perfect grammar
            and natural sounding speech. Can you correctly identify
            the genders of the nouns below? Type #[strong das] (neuter), #[strong die] (feminine)
            or #[strong der] (masculine) in the box. #[br] #[br] #[hr]
    .quiz-area
        form(id='noun-gender-form' action='/noun-gender' method='POST' autocomplete='off' )
            input(name='userinput' maxlength='3' data-lpignore="true")
            h2(id='random-noun') #{noun}
            input(type='hidden' name='currentnoun' value='' id='currentnoun')
            input(type='submit' value='Submit')
        .answer-popup
            h2(id='answer-popup-text') #{answer}